@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
html{
    box-sizing: border-box;
    font-size: 65%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    background-color: white;
    font-family: "Black Ops One", system-ui;
}


/* header part */

header h1{
    font-size: 6rem;
    text-align: center;
}

/* main part */
main{
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
main section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.left {
    background-color: rgb(254, 246, 248);
    width: 40%;
}
.right {
    background-color: rgb(242, 247, 252);
    width: 40%;
}
.middle {
    background-color: white;
    width: 20%;
}

.section-header{
    font-size: 5rem;
}
.score{
    font-size: 9rem;
}
.left-score{
    color: rgb(211, 70, 108);
}
.right-score{
    color: rgb(75, 130, 219);
}
.user-svg {
    height: 5rem;
    color: rgb(254, 246, 248);
}
.section-container{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    gap: 10px;
    overflow: hidden;
}
.left-container-text,
.right-container-text {
    font-size: 2rem;
}
.current-0,
.current-1{
    background-color: white;
    border-radius: 5px;
    font-size: 8rem;
    width: 90%;
}
.current-0 {
    background-color: rgb(211, 70, 108);
}
.current-1{
    background-color: rgb(75, 130, 219);
}
.btn {
    border-radius: 40px;
    border: none;
    width: 70%;
    padding: 1rem 1.5rem;
    margin: 0 auto;
    font-size: 2rem;
    box-shadow: 2px 3px 5px #918d8d;
    background-color: white;
    cursor: pointer;
}
.dice-image{
    width: 60%;
    height: auto;
    margin: 0 auto;
    box-shadow: -1px 2px 5px #918d8d;
    border-radius: 35px;
}
.footer-text{
    font-size: 3rem;
    text-align: center;
}

.active-player{
    background-color: #d1d0d0;
    box-shadow: inset -3px -2px 5px 0px black;
}
.winner{
    background-color: greenyellow;
}

@media only screen and (max-width:1224px) {
    main {
        flex-direction: column;
        width: 100%;
    }
    .left,.right, .middle {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .dice-image {
        width: 22%;
    }
    .section-header {
        font-size: 3rem;
    }
    header h1 {
        font-size: 4rem;
    }
    .footer-text {
        font-size: 2rem;
    }
}